<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ roadmap.front_matter.title }}</title>
  <style>{{ styles | safe }}</style>
</head>
<body class="roadmark-scope">
{% include "_body.html.jinja2" %}
</body>
</html>
